.modal-footer-container {
    display: flex;
    justify-content: space-between;
}

.product-cart {
    display: flex;
    margin-top: 20px;
}

.product-cart img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 150px;
}

.cart-quantity {
    margin-left: 100px;
    font-weight: bold;
}