.img-logo {
    height: 50px;
}

.link-dec {
    text-decoration: none;
}

.form-search {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.search-input {
    width: 60%;
}